.visualization{
	width: 100vw;
	height: 100vh;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 350px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  /* pointer-events: none; */
}

div.tooltip p {
    text-transform:capitalize;
}

circle {
	stroke: #ea1717e6; 
	stroke-width: 4px;
	stroke-opacity: 0;
}

.link {
  fill: none;
  stroke: #666;
 /* stroke-width: 1.5px; */
  visibility: hidden;
}

.active {
	visibility: visible !important;
}

#searchForm .simple-search.form-inline .form-control{
	width: 100%;
}

.advanced-search{
	padding-top: 15px;	
}

#searchForm .advanced-search .form-group .auto-width{
	width: auto;
}

.simple-search .search-buttons{
	text-align: right;
}

.advanced-search .form-group span {
	text-align: center;
}

.enabled{
	
}