@(text:String)

@import helper._
 
 <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.1.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
    </head>
    <body>	
    <div class="container">
    	<div class="well">    		
			@helper.form(action = routes.AdminController.submit(), 'id -> "admin-form", 
				'enctype -> "multipart/form-data"){
				<div class="form-group">
					<label for="file">Documents package:</label>
					<input type="file" id="file" name="file" class="form-control" accept=".zip">
				</div>
				<button type="submit" class="btn btn-primary">Send</button>
    		}
    	</div>
    	<div class="result">
    		<p>@text</p>
    	</div>
    </div>
    </body>
</html>
