@import views.formdata.QueryData

@(queryData:  Form[QueryData])

@import helper._
 
 <!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Welcome</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap-slider/css/bootstrap-slider.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        
        <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("lib/bootstrap-slider/bootstrap-slider.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("lib/d3js/d3.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.versioned("javascripts/d3-scale-chromatic.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.versioned("javascripts/forces.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        
        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
    </head>
    <body>	
    <div class="container">
    	<div class="well">
    		<form id="searchForm">
    			<div class="row form-inline simple-search">
	    			<div class="col-sm-9">
	    				<input type="text" id="terms" name="terms" class="form-control">
	    			</div>
	    			<div class="col-sm-1">
		    			<select id="operator" name="operator" class="form-control">
		                	<option value="or">OR</option>
		                	<option value="and">AND</option>
		        		</select>
	        		 </div>
	        		 <div class="col-sm-2 search-buttons">
		        			<button type="submit" id="search" class="btn btn-primary">Search</button>
		        			<button id="advanced-search-btn" type="button" class="btn btn-default" aria-label="Left Align">
		  						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</button>
							<button id="viz-settings-btn" type="button" class="btn btn-default" aria-label="Left Align">
		  						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
					</div>
				</div>
				<div class="viz-settings form-horizontal">
					<div class="form-group">
						<label for="collision-force" class="col-sm-3">Collision force:</label>
						<div class="col-sm-9">
							<input id="collision-force" data-slider-id='collision-force-slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.5"/>							
						</div>
					</div>
					<div class="form-group">
						<label for="manybody-force" class="col-sm-3">Attraction force:</label>
						<div class="col-sm-9">
							<input id="manybody-force" data-slider-id='manybody-force-slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="5" data-slider-value="1"/>							
						</div>
					</div>
					<div class="form-group">
						<label for="clustering-force" class="col-sm-3">Clustering force:</label>
						<div class="col-sm-9">
							<label>
      							<input type="checkbox" id="clustering-force" value="1"> On/Off
    						</label>							
						</div>
					</div>					
				</div>
				<div class="advanced-search form-horizontal">
					<div class="form-group">
						<label for="author" class="col-sm-3">Authors:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="author">
						</div>
					</div>
					<div class="form-group">
						<label for="year-start" class="col-sm-3">Publication year between:</label>
						<div class="col-sm-9">
						<input type="text" class="form-control auto-width col-sm-4" id="year-start" size="4" maxlength="4" pattern="[0-9]*">
						<span class="col-sm-1"> - </span>  
						<input type="text" class="form-control auto-width col-sm-4" id="year-end" size="4" maxlength="4" pattern="[0-9]*">
						</div>
					</div>
					<div class="form-group">
						<label for="num-clusters" class="col-sm-3">Number of clusters:</label>
						<div class="col-sm-9">
							<input type="number" id="num-clusters" class="form-control auto-width" value="10">
						</div>
					</div>
				</div>
    		</form>
    	</div>
    	<div class="viz-options">
    		<button id="reset-btn" class="btn btn-danger glyphicon glyphicon-erase"></button>
    		<button id="step-btn" class="btn btn-success glyphicon glyphicon-play"></button>
    		<button id="reheat-btn" class="btn btn-warning glyphicon glyphicon-fire"></button>
    	</div>
    </div>
    <div id="loading" class="loading hidden"></div>
    <div class="visualization-wrapper">
		<svg id="visualization" class="visualization">
       	</svg>
	</div>
	<div class="documents-list_wrapper">
		<div class="documents-table">
			<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th class="doc-index"></th>
					<th class="doc-title">Title</th>
					<th class="doc-authors">Authors</th>
					<th class="doc-year">Pub. Year</th>
					<th class="doc-doi">DOI</th>
					<th class="doc-relevance">Relevance</th>
					<th class="doc-cluster">Cluster</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			</table>
		</div>
	</div>
    </body>
</html>
